* {
  box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Exemplo do porque o border-box */
/* p {
  width: 100%;
  background: #377ee9;
  padding: 0 60px;
} */

.superinfo-bg {
  background-color: aqua;
}

.superinfo {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
